/* сброс стилей браузера */
* {
	box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */
a {
	text-decoration: none;
}

html {
	min-height: 100%;
	
}	

body {

	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	width: 100%;
}

.wrapper {

	margin: 0 104px;
	height: 100%;
}



.header {

	height: 102px;
}

.header-content {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

.logo {
	width: 132px;
	height: 56px;
	
}


.btn-nav {

	width: 202px;
	height: 48px;
	
}



.nav-container {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	width: 435px;




}


.nav-container a {

	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #0A2647;
	
	
}

.nav-container a.home {

	
	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	color: #0A2647;
}

.banner {

	width: 100%;
	background: rgba(6, 22, 58, 0.8);

}

.banner h1 {

	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 96px;
	color: #FFFFFF;
	width: 936px;
	height: 192px;
	margin-top: 266px;
}

.banner p {

	font-family: 'Mulish,sans-serif;';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	width: 580px;
	height: 52px;
	margin-top: 24px;
}




.btn-banner {

	
	width: 166px;
	height: 64px;
	margin-top: 56px;
	margin-bottom: 328px;
	
}

.btn-red {

	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	background: #D61F00;
	border: none;
}

.group {

	width: 100%;
	height: 348px;
	margin-top: -208px;


	
}
.group .wrapper {

	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-blue {
width: 296px;
background: rgb(6, 22, 58);

}

.card-blue span, p, a {

color: rgb(255, 255, 255);
}

.card {
width: 296px;
background: rgb(255, 255, 255);
margin-left: 16px;
padding: 32px 24px;

}

.card:first-child {

	margin: 0;
}

.card::before {

	content: '';
	border-radius: 50%;
	width: 64px;
	height: 64px;
	background: #D7E5F0;
	display: block;
}

.card-blue::before {

	background: white;
}



.card span {
	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	padding: 40px 0 0;
	color: rgb(10, 38, 71);
	display: block;
}

.card p {
	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	padding: 16px 0 20px;
	color: rgb(122, 122, 122);
}

.card a {
	font-family: 'Mulish',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	padding: 16px 0 0;
	color: rgb(214, 31, 0);
}




.card .circle {

border-radius: 50%;
width: 64px;
height: 64px;
background: #D7E5F0;
}

.card-blue .circle {

	background: white;
}




.content  {

	margin-top: 260px;
}






footer {
	margin-top: auto;

}







/* пользовательские стили  */

/* раскомментируйте этот стиль, если хотите всю страницу, включая фоновый цвет, ограничить центрированным блоком размером 1200 пикселов  */
/*.pageWrapper {
	max-width: 1200px;
	margin: 0 auto;	
}*/